<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COMP123_S2019_Lesson11B.Properties.Settings.SectionBDatabaseConnectionString"
            connectionString="Data Source=(localdb)\MSSQlLocalDB;Initial Catalog=SectionBDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>